---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
  display: inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "syntax", "starsnonscss";

// Table width 100%
table {
  width: 100%;
}

a {
  color: #22d8ba;
  transition: all 0.2s;
}

a:hover {
  color: black;
  text-decoration: none;
}

.mediumnavigation .navbar-brand img {
  max-height: 60px;
  margin-right: 5px;
}

.gamethumb {
  height: 100%;
  overflow: hidden;
  margin-bottom: 4px;
}

.game-card-footer {
  font-size: 14px;
  margin: 0px;
  padding: 0.5em 0.9em;
}
.game-card-body {
  padding-left: 0.9em;
  padding-top: 0.5em;
  padding-right: 0.9em;
}

.game-card-title {
  margin: 0px !important;
  font-size: 1em;
  height: 40px;
}

@media (min-width: 768px) {
  .gamethumb {
    height: 240px;
  }
}
